.header__container{
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
}
.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
.header_link{
    font-family: 'Oranienbaum';
    font-size: 24px;
    color: var(--main-light-color);
}
.logo{
    font-family: 'Paper';
	font-weight: 400;
	font-size: 45px;
	line-height: 1;
	text-align: center;
	color: var(--main-light-color);
	text-transform: uppercase;
}
@media (max-width: 992px) {
    .header_link{
        font-size: 25px;
    }
    .logo{
        font-size: 40px;
    }
}
@media (max-width: 768px){
    .header_link{
        font-size: 20px;
    }
    .logo{
        font-size: 36px;
    }
}
@media (max-width: 376px) {
    .header_link{
        font-size: 19px;
    }
    .logo{
        font-size: 28px;
    }
}